[Desktop Entry]
Categories=Office;
Comment[en_CA]=Password manager and secure wallet
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password --silent %U
GenericName[en_CA]=
GenericName=
Icon=1password
MimeType=
Name[en_CA]=1Password
Name=1Password
Path=
StartupNotify=true
StartupWMClass=1Password
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5